{%extends "nav.html"%}
{% block head %}
    <title>Trend Line Chart</title>
    <style>
        rect {
            pointer-events: all;
            fill-opacity: 0;
            stroke-opacity: 0;
            z-index: 1;
        }
    
        .tooltip {
            position: absolute;
            padding: 10px;
            background-color: steelblue;
            color: white;
            border: 1px solid white;
            border-radius: 10px;
            display: none;
            opacity: .75;
        }
        #trend_chart {
            padding-left: 15%;
        }
    </style>
    <script src="https://d3js.org/d3.v6.js"></script>
    {% endblock %}
    {% block content %}
    <label for="selectButton">Select a town:</label>
    <select id="selectButton"></select>
    <div id="trend_chart"></div>

    <script>
        function processData(predictedData) {
            const modifiedData = [];

            Object.keys(predictedData).forEach(town => {
                const townData = predictedData[town];

                Object.keys(townData).forEach(year => {
                    modifiedData.push({
                        town: town,
                        year: parseInt(year),
                        medianPrice: townData[year]
                    });
                });
            });
            return modifiedData;
        }

        function initializeVisualization(data) {
            d3.select("#trend-chart")
                .selectAll("circle")
                .data(data)
                .enter()
                .append("circle")
                .attr("cx", d => xScale(new Date(d.year)))
                .attr("cy", d => yScale(d.medianPrice))
                .attr("r", 4)
                .attr("fill", "red");
        }
        // set the dimensions and margins of the graph
        var data = {{ data_json2 | safe }};
const margin = { top: 70, right: 30, bottom: 40, left: 80 },
width = 1000 - margin.left - margin.right,
height = 700 - margin.top - margin.bottom;

// Add X axis
const x = d3.scaleTime().range([0, width]);

// Add Y axis
const y = d3.scaleLinear().range([height, 0]);

// append the svg object to the body of the page
const svg = d3
.select("#trend_chart")
.append("svg")
.attr("width", width + margin.left + margin.right)
.attr("height", height + margin.top + margin.bottom)
.append("g")
.attr("transform", `translate(${margin.left}, ${margin.top})`);

function processData(data) {
// Parse date and extract year
data.forEach((d) => {
  d.date = new Date(d.month);
  d.year = d.date.getFullYear();
});

// Group data by town
const groupedData = Array.from(
  d3.group(data, (d) => d.town),
  ([town, townValues]) => {
    const medianPriceByYear = d3.group(townValues, (d) => d.year);
    const townData = {
      town: town,
      data: [],
    };
    medianPriceByYear.forEach((yearValues, year) => {
      const medianPrice = d3.median(yearValues, (d) => +d.resale_price);
      townData.data.push({ year: year, medianPrice: medianPrice });
    });
    return townData;
  }
);
console.log(groupedData);
return groupedData;
}

// Read the data

const pastData = processData(data);
console.log(pastData);

// Retrieve predicted data from forecast.json and assign to predictedData
const predictedData = 
[
  {
    "town": "ANG MO KIO",
    "data": [
      {
        "medianPrice": 504873,
        "year": 2024
      },
      {
        "medianPrice": 564771,
        "year": 2025
      },
      {
        "medianPrice": 630115,
        "year": 2026
      },
      {
        "medianPrice": 695458,
        "year": 2027
      },
      {
        "medianPrice": 760802,
        "year": 2028
      },
      {
        "medianPrice": 826145,
        "year": 2029
      },
      {
        "medianPrice": 891489,
        "year": 2030
      },
      {
        "medianPrice": 929606,
        "year": 2031
      }
    ]
  },
  {
    "town": "BEDOK",
    "data": [
      {
        "medianPrice": 467873,
        "year": 2024
      },
      {
        "medianPrice": 504450,
        "year": 2025
      },
      {
        "medianPrice": 544354,
        "year": 2026
      },
      {
        "medianPrice": 584257,
        "year": 2027
      },
      {
        "medianPrice": 624161,
        "year": 2028
      },
      {
        "medianPrice": 664064,
        "year": 2029
      },
      {
        "medianPrice": 703968,
        "year": 2030
      },
      {
        "medianPrice": 727245,
        "year": 2031
      }
    ]
  },
  {
    "town": "BISHAN",
    "data": [
      {
        "medianPrice": 786880,
        "year": 2024
      },
      {
        "medianPrice": 880488,
        "year": 2025
      },
      {
        "medianPrice": 982605,
        "year": 2026
      },
      {
        "medianPrice": 1084723,
        "year": 2027
      },
      {
        "medianPrice": 1186840,
        "year": 2028
      },
      {
        "medianPrice": 1288958,
        "year": 2029
      },
      {
        "medianPrice": 1391075,
        "year": 2030
      },
      {
        "medianPrice": 1450643,
        "year": 2031
      }
    ]
  },
  {
    "town": "BUKIT BATOK",
    "data": [
      {
        "medianPrice": 632907,
        "year": 2024
      },
      {
        "medianPrice": 708137,
        "year": 2025
      },
      {
        "medianPrice": 790205,
        "year": 2026
      },
      {
        "medianPrice": 872273,
        "year": 2027
      },
      {
        "medianPrice": 954341,
        "year": 2028
      },
      {
        "medianPrice": 1036409,
        "year": 2029
      },
      {
        "medianPrice": 1118477,
        "year": 2030
      },
      {
        "medianPrice": 1166350,
        "year": 2031
      }
    ]
  },
  {
    "town": "BUKIT MERAH",
    "data": [
      {
        "medianPrice": 800015,
        "year": 2024
      },
      {
        "medianPrice": 855721,
        "year": 2025
      },
      {
        "medianPrice": 916493,
        "year": 2026
      },
      {
        "medianPrice": 977265,
        "year": 2027
      },
      {
        "medianPrice": 1038036,
        "year": 2028
      },
      {
        "medianPrice": 1098808,
        "year": 2029
      },
      {
        "medianPrice": 1159580,
        "year": 2030
      },
      {
        "medianPrice": 1195030,
        "year": 2031
      }
    ]
  },
  {
    "town": "BUKIT PANJANG",
    "data": [
      {
        "medianPrice": 619640,
        "year": 2024
      },
      {
        "medianPrice": 693055,
        "year": 2025
      },
      {
        "medianPrice": 773144,
        "year": 2026
      },
      {
        "medianPrice": 853233,
        "year": 2027
      },
      {
        "medianPrice": 933322,
        "year": 2028
      },
      {
        "medianPrice": 1013410,
        "year": 2029
      },
      {
        "medianPrice": 1093499,
        "year": 2030
      },
      {
        "medianPrice": 1140218,
        "year": 2031
      }
    ]
  },
  {
    "town": "BUKIT TIMAH",
    "data": [
      {
        "medianPrice": 1139091,
        "year": 2024
      },
      {
        "medianPrice": 1274303,
        "year": 2025
      },
      {
        "medianPrice": 1421774,
        "year": 2026
      },
      {
        "medianPrice": 1569246,
        "year": 2027
      },
      {
        "medianPrice": 1716717,
        "year": 2028
      },
      {
        "medianPrice": 1864188,
        "year": 2029
      },
      {
        "medianPrice": 2011659,
        "year": 2030
      },
      {
        "medianPrice": 2097684,
        "year": 2031
      }
    ]
  },
  {
    "town": "CENTRAL AREA",
    "data": [
      {
        "medianPrice": 513351,
        "year": 2024
      },
      {
        "medianPrice": 539592,
        "year": 2025
      },
      {
        "medianPrice": 568264,
        "year": 2026
      },
      {
        "medianPrice": 596935,
        "year": 2027
      },
      {
        "medianPrice": 625606,
        "year": 2028
      },
      {
        "medianPrice": 654278,
        "year": 2029
      },
      {
        "medianPrice": 682949,
        "year": 2030
      },
      {
        "medianPrice": 699674,
        "year": 2031
      }
    ]
  },
  {
    "town": "CHOA CHU KANG",
    "data": [
      {
        "medianPrice": 587200,
        "year": 2024
      },
      {
        "medianPrice": 656307,
        "year": 2025
      },
      {
        "medianPrice": 731433,
        "year": 2026
      },
      {
        "medianPrice": 806558,
        "year": 2027
      },
      {
        "medianPrice": 881683,
        "year": 2028
      },
      {
        "medianPrice": 956808,
        "year": 2029
      },
      {
        "medianPrice": 1031934,
        "year": 2030
      },
      {
        "medianPrice": 1075757,
        "year": 2031
      }
    ]
  },
  {
    "town": "CLEMENTI",
    "data": [
      {
        "medianPrice": 538143,
        "year": 2024
      },
      {
        "medianPrice": 578731,
        "year": 2025
      },
      {
        "medianPrice": 622993,
        "year": 2026
      },
      {
        "medianPrice": 667256,
        "year": 2027
      },
      {
        "medianPrice": 711519,
        "year": 2028
      },
      {
        "medianPrice": 755781,
        "year": 2029
      },
      {
        "medianPrice": 800044,
        "year": 2030
      },
      {
        "medianPrice": 825864,
        "year": 2031
      }
    ]
  },
  {
    "town": "GEYLANG",
    "data": [
      {
        "medianPrice": 527327,
        "year": 2024
      },
      {
        "medianPrice": 579432,
        "year": 2025
      },
      {
        "medianPrice": 636277,
        "year": 2026
      },
      {
        "medianPrice": 693122,
        "year": 2027
      },
      {
        "medianPrice": 749967,
        "year": 2028
      },
      {
        "medianPrice": 806812,
        "year": 2029
      },
      {
        "medianPrice": 863657,
        "year": 2030
      },
      {
        "medianPrice": 896816,
        "year": 2031
      }
    ]
  },
  {
    "town": "HOUGANG",
    "data": [
      {
        "medianPrice": 568204,
        "year": 2024
      },
      {
        "medianPrice": 635433,
        "year": 2025
      },
      {
        "medianPrice": 708786,
        "year": 2026
      },
      {
        "medianPrice": 782138,
        "year": 2027
      },
      {
        "medianPrice": 855491,
        "year": 2028
      },
      {
        "medianPrice": 928843,
        "year": 2029
      },
      {
        "medianPrice": 1002196,
        "year": 2030
      },
      {
        "medianPrice": 1044985,
        "year": 2031
      }
    ]
  },
  {
    "town": "JURONG EAST",
    "data": [
      {
        "medianPrice": 474209,
        "year": 2024
      },
      {
        "medianPrice": 482567,
        "year": 2025
      },
      {
        "medianPrice": 491686,
        "year": 2026
      },
      {
        "medianPrice": 500804,
        "year": 2027
      },
      {
        "medianPrice": 509922,
        "year": 2028
      },
      {
        "medianPrice": 519040,
        "year": 2029
      },
      {
        "medianPrice": 528159,
        "year": 2030
      },
      {
        "medianPrice": 533478,
        "year": 2031
      }
    ]
  },
  {
    "town": "JURONG WEST",
    "data": [
      {
        "medianPrice": 543523,
        "year": 2024
      },
      {
        "medianPrice": 607614,
        "year": 2025
      },
      {
        "medianPrice": 677499,
        "year": 2026
      },
      {
        "medianPrice": 747383,
        "year": 2027
      },
      {
        "medianPrice": 817268,
        "year": 2028
      },
      {
        "medianPrice": 887152,
        "year": 2029
      },
      {
        "medianPrice": 957037,
        "year": 2030
      },
      {
        "medianPrice": 997803,
        "year": 2031
      }
    ]
  },
  {
    "town": "KALLANG/WHAMPOA",
    "data": [
      {
        "medianPrice": 728124,
        "year": 2024
      },
      {
        "medianPrice": 793954,
        "year": 2025
      },
      {
        "medianPrice": 865777,
        "year": 2026
      },
      {
        "medianPrice": 937599,
        "year": 2027
      },
      {
        "medianPrice": 1009421,
        "year": 2028
      },
      {
        "medianPrice": 1081244,
        "year": 2029
      },
      {
        "medianPrice": 1153066,
        "year": 2030
      },
      {
        "medianPrice": 1194963,
        "year": 2031
      }
    ]
  },
  {
    "town": "MARINE PARADE",
    "data": [
      {
        "medianPrice": 534786,
        "year": 2024
      },
      {
        "medianPrice": 596478,
        "year": 2025
      },
      {
        "medianPrice": 663770,
        "year": 2026
      },
      {
        "medianPrice": 731062,
        "year": 2027
      },
      {
        "medianPrice": 798355,
        "year": 2028
      },
      {
        "medianPrice": 865647,
        "year": 2029
      },
      {
        "medianPrice": 932939,
        "year": 2030
      },
      {
        "medianPrice": 972193,
        "year": 2031
      }
    ]
  },
  {
    "town": "PASIR RIS",
    "data": [
      {
        "medianPrice": 572991,
        "year": 2024
      },
      {
        "medianPrice": 632820,
        "year": 2025
      },
      {
        "medianPrice": 705503,
        "year": 2026
      },
      {
        "medianPrice": 778186,
        "year": 2027
      },
      {
        "medianPrice": 850869,
        "year": 2028
      },
      {
        "medianPrice": 923552,
        "year": 2029
      },
      {
        "medianPrice": 996236,
        "year": 2030
      },
      {
        "medianPrice": 1038634,
        "year": 2031
      }
    ]
  },
  {
    "town": "PUNGGOL",
    "data": [
      {
        "medianPrice": 685417,
        "year": 2024
      },
      {
        "medianPrice": 767232,
        "year": 2025
      },
      {
        "medianPrice": 854356,
        "year": 2026
      },
      {
        "medianPrice": 941429,
        "year": 2027
      },
      {
        "medianPrice": 1028500,
        "year": 2028
      },
      {
        "medianPrice": 1115572,
        "year": 2029
      },
      {
        "medianPrice": 1202644,
        "year": 2030
      },
      {
        "medianPrice": 1253435,
        "year": 2031
      }
    ]
  },
  {
    "town": "QUEENSTOWN",
    "data": [
      {
        "medianPrice": 762820,
        "year": 2024
      },
      {
        "medianPrice": 853894,
        "year": 2025
      },
      {
        "medianPrice": 953174,
        "year": 2026
      },
      {
        "medianPrice": 1052455,
        "year": 2027
      },
      {
        "medianPrice": 1151736,
        "year": 2028
      },
      {
        "medianPrice": 1251017,
        "year": 2029
      },
      {
        "medianPrice": 1350298,
        "year": 2030
      },
      {
        "medianPrice": 1408212,
        "year": 2031
      }
    ]
  },
  {
    "town": "SEMBAWANG",
    "data": [
      {
        "medianPrice": 590831,
        "year": 2024
      },
      {
        "medianPrice": 660549,
        "year": 2025
      },
      {
        "medianPrice": 736634,
        "year": 2026
      },
      {
        "medianPrice": 812718,
        "year": 2027
      },
      {
        "medianPrice": 888803,
        "year": 2028
      },
      {
        "medianPrice": 964888,
        "year": 2029
      },
      {
        "medianPrice": 1040972,
        "year": 2030
      },
      {
        "medianPrice": 1085355,
        "year": 2031
      }
    ]
  },
  {
    "town": "SENGKANG",
    "data": [
      {
        "medianPrice": 601687,
        "year": 2024
      },
      {
        "medianPrice": 666016,
        "year": 2025
      },
      {
        "medianPrice": 741377,
        "year": 2026
      },
      {
        "medianPrice": 816892,
        "year": 2027
      },
      {
        "medianPrice": 892411,
        "year": 2028
      },
      {
        "medianPrice": 967930,
        "year": 2029
      },
      {
        "medianPrice": 1043449,
        "year": 2030
      },
      {
        "medianPrice": 1087501,
        "year": 2031
      }
    ]
  },
  {
    "town": "SERANGOON",
    "data": [
      {
        "medianPrice": 679225,
        "year": 2024
      },
      {
        "medianPrice": 738632,
        "year": 2025
      },
      {
        "medianPrice": 803439,
        "year": 2026
      },
      {
        "medianPrice": 868246,
        "year": 2027
      },
      {
        "medianPrice": 933054,
        "year": 2028
      },
      {
        "medianPrice": 997861,
        "year": 2029
      },
      {
        "medianPrice": 1062668,
        "year": 2030
      },
      {
        "medianPrice": 1100472,
        "year": 2031
      }
    ]
  },
  {
    "town": "TAMPINES",
    "data": [
      {
        "medianPrice": 671668,
        "year": 2024
      },
      {
        "medianPrice": 750912,
        "year": 2025
      },
      {
        "medianPrice": 837338,
        "year": 2026
      },
      {
        "medianPrice": 923763,
        "year": 2027
      },
      {
        "medianPrice": 1010189,
        "year": 2028
      },
      {
        "medianPrice": 1096615,
        "year": 2029
      },
      {
        "medianPrice": 1183040,
        "year": 2030
      },
      {
        "medianPrice": 1233455,
        "year": 2031
      }
    ]
  },
  {
    "town": "TOA PAYOH",
    "data": [
      {
        "medianPrice": 553412,
        "year": 2024
      },
      {
        "medianPrice": 608090,
        "year": 2025
      },
      {
        "medianPrice": 667729,
        "year": 2026
      },
      {
        "medianPrice": 727368,
        "year": 2027
      },
      {
        "medianPrice": 787006,
        "year": 2028
      },
      {
        "medianPrice": 846645,
        "year": 2029
      },
      {
        "medianPrice": 906284,
        "year": 2030
      },
      {
        "medianPrice": 941074,
        "year": 2031
      }
    ]
  },
  {
    "town": "WOODLANDS",
    "data": [
      {
        "medianPrice": 604307,
        "year": 2024
      },
      {
        "medianPrice": 675691,
        "year": 2025
      },
      {
        "medianPrice": 753496,
        "year": 2026
      },
      {
        "medianPrice": 831301,
        "year": 2027
      },
      {
        "medianPrice": 909106,
        "year": 2028
      },
      {
        "medianPrice": 986911,
        "year": 2029
      },
      {
        "medianPrice": 1064716,
        "year": 2030
      },
      {
        "medianPrice": 1110102,
        "year": 2031
      }
    ]
  },
  {
    "town": "YISHUN",
    "data": [
      {
        "medianPrice": 474700,
        "year": 2024
      },
      {
        "medianPrice": 530351,
        "year": 2025
      },
      {
        "medianPrice": 591398,
        "year": 2026
      },
      {
        "medianPrice": 652445,
        "year": 2027
      },
      {
        "medianPrice": 713492,
        "year": 2028
      },
      {
        "medianPrice": 774539,
        "year": 2029
      },
      {
        "medianPrice": 835586,
        "year": 2030
      },
      {
        "medianPrice": 871197,
        "year": 2031
      }
    ]
  }
];

// Merging of past and predicted data based on town
const allData = pastData.map((d) => {
  const predictedTown = predictedData.find((e) => e.town === d.town);
  if (predictedTown) {
    d.data = d.data.concat(predictedTown.data);
  }
  return d;
});
console.log(allData);

// List of groups (for creating dropdown menu)
const allGroup = new Set(pastData.map((d) => d.town));
console.log(allGroup);

// Add options to the button
d3.select("#selectButton")
  .selectAll("myOptions")
  .data(allGroup)
  .enter()
  .append("option")
  .text(function (d) {
    return d;
  })
  .attr("value", function (d) {
    return d;
  });

// Add x domain range between 2017 and 2030
x.domain([new Date(2017), new Date(2030)]);
// Add y domain range between 0 and max median price of the selected town
y.domain([
  0,
  d3.max(
    pastData.find((d) => d.town === "ANG MO KIO").data,
    (d) => d.medianPrice
  ),
]);

// Define the date format
const yearFormat = d3.timeFormat("%Y");

// Add the x-axis
svg
  .append("g")
  .attr("transform", `translate(0, ${height})`)
  .attr("class", "xAxis")
  .call(d3.axisBottom(x));

// Add the y-axis
svg.append("g").attr("class", "yAxis").call(d3.axisLeft(y));

// Add vertical gridlines
svg
  .selectAll("xGrid")
  .data(x.ticks().slice(1))
  .join("line")
  .attr("x1", (d) => x(d))
  .attr("x2", (d) => x(d))
  .attr("y1", 0)
  .attr("y2", height)
  .attr("stroke", "#e0e0e0")
  .attr("stroke-width", 0.5);

// Add horizontal gridlines
const horizontalGridlines = svg
  .selectAll("yGrid")
  .data(y.ticks().slice(1))
  .join("line")
  .attr("x1", 0)
  .attr("x2", width)
  .attr("y1", (d) => y(d))
  .attr("y2", (d) => y(d))
  .attr("stroke", "#e0e0e0")
  .attr("stroke-width", 1);

// x-axis label
svg
  .append("text")
  .attr(
    "transform",
    "translate(" + width / 2 + " ," + (height + margin.bottom) + ")"
  )
  .style("text-anchor", "middle")
  .text("Year");

// y-axis label
svg
  .append("text")
  .attr("transform", "rotate(-90)")
  .attr("y", 0 - margin.left)
  .attr("x", 0 - height / 2)
  .attr("dy", "1em")
  .style("text-anchor", "middle")
  .text("Median Price of HDB Resale Flats ($)");

// Add a title
svg
  .append("text")
  .attr("class", "chart-title")
  .attr("x", margin.left)
  .attr("y", margin.top - 100)
  .style("font-size", "18px")
  .style("font-weight", "bold")
  .style("font-family", "sans-serif")
  .text("Median Prices of HDB Resale Flats in Singapore");

// Handmade legend
svg
  .append("circle")
  .attr("cx", 750)
  .attr("cy", -20)
  .attr("r", 6)
  .style("fill", "steelblue");
svg
  .append("circle")
  .attr("cx", 750)
  .attr("cy", 5)
  .attr("r", 6)
  .style("fill", "red");
svg
  .append("text")
  .attr("x", 800)
  .attr("y", -20)
  .text("Actual")
  .style("font-size", "15px")
  .attr("alignment-baseline", "middle");
svg
  .append("text")
  .attr("x", 800)
  .attr("y", 5)
  .text("Predicted")
  .style("font-size", "15px")
  .attr("alignment-baseline", "middle");

// Initialize line
const line = d3
  .line()
  .x((d) => x(d.year))
  .y((d) => y(d.medianPrice));

// Add the line for past data
const pathPast = svg
  .append("path")
  .attr("stroke", "steelblue")
  .style("stroke-width", 2)
  .style("fill", "none")
  .attr("d", line(pastData.find((d) => d.town === "ANG MO KIO").data));

// Add the line for predicted data
const pathPredicted = svg
  .append("path")
  .attr("stroke", "red")
  .style("stroke-width", 2)
  .style("fill", "none")
  .style("stroke-dasharray", "10, 3")
  .attr("d", line(predictedData.find((d) => d.town === "ANG MO KIO").data));

// A function that update the chart
function update(selectedGroup) {
  console.log(selectedGroup);
  console.log(allData.find((d) => d.town === selectedGroup).data);
  console.log(y);
  const selectedPastData = pastData.find(
    (d) => d.town === selectedGroup
  ).data;
  const selectedPredictedData = predictedData.find(
    (d) => d.town === selectedGroup
  ).data;

  const maxMedianPrice = d3.max(
    selectedPastData.concat(selectedPredictedData),
    (d) => d.medianPrice
  );

  // update y domain range between 0 and max median price of the selected town
  y.domain([0, maxMedianPrice]);

  // Update the Y axis
  svg.select("g.yAxis").transition().duration(1000).call(d3.axisLeft(y));

  // Create new line for past data after the selection
  pathPast
    .datum(selectedPastData)
    .transition()
    .duration(1000)
    .attr("d", line);

  // Create new line for predicted data after the selection
  pathPredicted
    .datum(selectedPredictedData)
    .transition()
    .duration(1000)
    .attr("d", line);

  // Update horizontal gridlines
  horizontalGridlines
    // .data(y.ticks().slice(1))
    .transition()
    .duration(1000)
    .attr("y1", (d) => y(d))
    .attr("y2", (d) => y(d));

  // Update listening rectangle
  listeningRect.on("mousemove", function (event) {
    const [xCoord] = d3.pointer(event, this);
    const bisectDate = d3.bisector((d) => d.year).left;
    const x0 = x.invert(xCoord);
    const i = bisectDate(
      pastData.find((d) => d.town === selectedGroup).data,
      x0,
      1
    );
    const d0 = pastData.find((d) => d.town === selectedGroup).data[i - 1];
    const d1 = pastData.find((d) => d.town === selectedGroup).data[i];
    const d = x0 - d0.year > d1.year - x0 ? d1 : d0;
    const xPos = x(d.year);
    const yPos = y(d.medianPrice);

    circle.attr("cx", xPos).attr("cy", yPos);

    circle.transition().duration(50).attr("r", 5);

    tooltip
      .style("display", "block")
      .style("left", `${xPos + 100}px`)
      .style("top", `${yPos + 120}px`)
      .html(
        `<strong>Year:</strong> ${d.year.toString()}<br><strong>Median Resale Price:</strong> ${
          "$" + d.medianPrice
        }`
      );

    listeningRect.on("mouseleave", function () {
      circle.transition().duration(50).attr("r", 0);

      tooltip.style("display", "none");
    });
  });
}

// ADDITIONAL: CREATING TOOLTIP FOR VISUALISATION
const tooltip = d3.select("body").append("div").attr("class", "tooltip");

// Add point below cursor
const circle = svg
  .append("circle")
  .attr("r", 0)
  .attr("fill", "steelblue")
  .style("stroke", "steelblue")
  .attr("opacity", 0.7)
  .style("pointer-events", "none");

// Create a listening rectangle
const listeningRect = svg
  .append("rect")
  .attr("width", width)
  .attr("height", height);

// Listen for mouse moving events
listeningRect.on("mousemove", function (event) {
  const [xCoord] = d3.pointer(event, this);
  const bisectDate = d3.bisector((d) => d.year).left;
  const x0 = x.invert(xCoord);
  const i = bisectDate(
    pastData.find((d) => d.town === "ANG MO KIO").data,
    x0,
    1
  );
  const d0 = pastData.find((d) => d.town === "ANG MO KIO").data[i - 1];
  const d1 = pastData.find((d) => d.town === "ANG MO KIO").data[i];
  const d = x0 - d0.year > d1.year - x0 ? d1 : d0;
  const xPos = x(d.year);
  const yPos = y(d.medianPrice);

  circle.attr("cx", xPos).attr("cy", yPos);

  circle.transition().duration(50).attr("r", 5);

  tooltip
    .style("display", "block")
    .style("left", `${xPos + 100}px`)
    .style("top", `${yPos + 120}px`)
    .html(
      `<strong>Year:</strong> ${d.year.toString()}<br><strong>Median Resale Price:</strong> ${
        "$" + d.medianPrice
      }`
    );

  listeningRect.on("mouseleave", function () {
    circle.transition().duration(100).attr("r", 0);

    tooltip.style("display", "none");
  });

  // When the button is changed, run the updateChart function
  d3.select("#selectButton").on("change", function (event, d) {
    // recover the option that has been chosen
    const selectedOption = d3.select(this).property("value");
    // run the updateChart function with this selected option
    update(selectedOption);
  });
});

    </script>

    <script src="index.js"></script>
    {% endblock %}
